<div class="list-group">
    <p class="list-group-item" style="font-size: x-large;"> Categories 
        <a href="categoria/delete-categoria" class="crud btn btn-outline-danger"style="position: relative; float: right;margin-left: 0.5%; margin-right: 0.5%;" > Delete </a>
        <a href="categoria/update-categoria" class="crud btn btn-outline-warning" style="position: relative; float: right; margin-left: 0.5%; margin-right: 0.5%;"> Update </a>
        <a href="categoria/create-categoria" class="crud btn btn-outline-success" style="position: relative; float: right; margin-left: 0.5%; margin-right: 0.5%;"> Insert </a>
        <a href="categoria/view-all-categorias" class="crud btn btn-outline-dark" style="position: relative; float: right; margin-left: 0.5%; margin-right: 0.5%;"> View All </a>
    </p>    
    <p class="list-group-item" style="font-size: x-large;">Brands 
        <a href="marca/delete-marca" class="crud btn btn-outline-danger" style="position: relative; float: right;margin-left: 0.5%; margin-right: 0.5%;"> Delete </a>
        <a href="marca/update-marca" class="crud btn btn-outline-warning" style="position: relative; float: right;margin-left: 0.5%; margin-right: 0.5%;"> Update </a>
        <a href="marca/create-marca" class="crud btn btn-outline-success" style="position: relative; float: right;margin-left: 0.5%; margin-right: 0.5%;"> Insert </a>
        <a href="marca/view-all-marcas" class="crud btn btn-outline-dark" style="position: relative; float: right;margin-left: 0.5%; margin-right: 0.5%;"> View All </a>
    </p>
    <p class="list-group-item" style="font-size: x-large;">Units 
        <a href="descricaoUnidade/delete-descricao-unidade" class="crud btn btn-outline-danger" style="position: relative; float: right;margin-left: 0.5%; margin-right: 0.5%;"> Delete </a>
        <a href="descricaoUnidade/update-descricao-unidade" class="crud btn btn-outline-warning" style="position: relative; float: right;margin-left: 0.5%; margin-right: 0.5%;"> Update </a>
        <a href="descricaoUnidaderca/create-descricao-unidade" class="crud btn btn-outline-success" style="position: relative; float: right;margin-left: 0.5%; margin-right: 0.5%;"> Insert </a>
        <a href="descricaoUnidade/view-all-descricao-unidade" class="crud btn btn-outline-dark" style="position: relative; float: right;margin-left: 0.5%; margin-right: 0.5%;"> View All </a>
    </p>    
    <p class="list-group-item" style="font-size: x-large;">Locations 
        <a href="localizacao/delete-localizacao" class="crud btn btn-outline-danger " style="position: relative; float: right;margin-left: 0.5%; margin-right: 0.5%;"> Delete </a>
        <a href="localizacao/update-localizacao" class="crud btn btn-outline-warning" style="position: relative; float: right;margin-left: 0.5%; margin-right: 0.5%;"> Update </a>
        <a href="localizacao/create-localizacao" class="crud btn btn-outline-success" style="position: relative; float: right;margin-left: 0.5%; margin-right: 0.5%;"> Insert </a> 
        <a href="localizacao/view-all-localizacoes" class="crud btn btn-outline-dark" style="position: relative; float: right;margin-left: 0.5%; margin-right: 0.5%;"> View All </a>
    </p>
</div>