<button><a href="./marca">Back to Brands</a></button>
<button><a (click)="showCreate()">Create brand</a></button>

<div *ngIf="show">   
    <input type="text" placeholder="New brand name:" [(ngModel)]="newBrand" >
    <button (click)="create.createNewMarcaId(newBrand)">Create</button>

</div>
<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justifycontent-center">
            <div class="col mb-5" *ngFor="let marca of marcasList">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Localização name-->
                            <h5 class="fw-bolder">
                                {{marca.descricao}}</h5>

                        </div>
                    </div>
                    <div>
                    </div>
                    <!-- Localização actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                [href]="'marca/view-marca/' + marca.idMarca">View details</a></div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                (click)="delete.onDeleteId(marca.idMarca)">Delete</a></div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                            [href]="'marca/view-marca/' + marca.idMarca">Update</a></div>
                            <!-- <div *ngIf="showUp">
                                <input type="text" placeholder="New brand name:" [(ngModel)]="newBrandUp" >
                                <button ><a ></a>Create</button>                            
                            </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>