<a class="btn btn-outline-dark mt-auto text-center" style="position: relative; float: right;" href="./backoffice">Back
    to back office</a>
<br>
<div class="row gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justifycontent-center">
    <select (change)="onIndexChange(selectCategoria.value)" class="col mb-5" #selectCategoria
        style="border-radius: 5px; border-color: gainsboro;">
        <option selected disabled>Select a category</option>
        <option *ngFor="let categoria of categoriaList" value="{{categoria.idCategoria}}"> {{categoria.descricao}}</option>
    </select>
    <form (submit)="onUpdate(updateCategoriaForm)" #updateCategoriaForm="ngForm">
        <label for="inputName">Category name:</label>
        <input type="text" class="form-control" id="inputName" placeholder="New category name" name="categoriaName" ngModel
            style="margin: 6%;">
        <button type="submit" class="btn btn btn-outline-warning" style="margin: 2%;">Update</button>
    </form>
</div>