<a class="btn btn-outline-dark mt-auto text-center" style="position: relative; float: right;" href="./backoffice">Back
    to back office</a>
<br>
<form (submit)="createNewDescricaoUnidade(createDescricaoUnidadeForm)" #createDescricaoUnidadeForm="ngForm">
    <label for="inputName" >Unit name:
        <input type="text" class="form-control" id="inputName" placeholder="New unit" name="unidadeName" ngModel style="margin: 6%;">
        <button type="submit" class="btn btn-outline-success" style="margin: 2%;">Insert unit</button>
    </label>
</form>