<form (submit)="createNewLocalizacao(createLocalizacaoForm)" #createLocalizacaoForm="ngForm">
    <div class="form-row">
        <div class="form-group mt-3">
            <label for="inputCode">Código do Concelho</label>
            <input type="text" class="form-control" id="inputCode" placeholder="1" name="concelhoId" ngModel>
        </div>
        <div class="form-group mt-3">
            <label for="inputName">Nome do Concelho</label>
            <input type="text" class="form-control" id="inputName" placeholder="Concelho" name="concelhoName" ngModel>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Criar</button>
    </div>
</form>