<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="homepage">Home</a>
        <a class="navbar-brand" href="localizacao">Localização</a>
        <a class="navbar-brand" href="marca">Marcas</a>
        <a class="navbar-brand" href="#!">Descrição de unidade</a>
        <a class="navbar-brand" href="#!">Categorias</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bstarget="#
    navbarSupportedContent" aria-controls="navbarSupportedContent" ariaexpanded="
    false" aria-label="Toggle navigation"><span class="navbar-togglericon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex">
            </form>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Smart Market</h1>
            <p class="lead fw-normal text-white-50 mb-0">Plan your groceries wisely! </p>
        </div>
    </div>
</header>