<a class="btn btn-outline-dark mt-auto text-center" style="position: relative; float: right;" href="./backoffice">Back
    to back office</a>
<br>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <div style="padding-bottom: 30px;">
                    <span class="display-6">{{idMarca}}</span><span class="display-5"> - {{descricao}}</span>
                </div>
                <div class="fs-5 mb-5">
                    <button id="updBtn" (click)="showUpdate()" class="btn btn-outline-warning"
                        style="margin: 2%;">Update</button>
                    <button id="updBtn" (click)="dlMar.onDeleteId(idMarca)" class="btn btn-outline-danger"
                        style="margin: 2%;">Delete</button>
                </div>
            </div>
        </div>
        <div *ngIf="show">
            <input type="text" placeholder="New brand name:" [(ngModel)]="newBrand"
                style="position: relative; margin: 10px 10px 10px 10px;">
            <button (click)="upMar.onUpdateId(idMarca, newBrand)" class="btn btn-outline-warning">Update</button>
        </div>
    </div>
</section>