<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justifycontent-center">
            <select (change)="onIndexChange(selectUnidade.value)" class="col mb-5" #selectUnidade> <!--ngfor faz um for-->
                <option *ngFor="let unidade of unidadeList" value="{{unidade.idDescricaoUnidade}}"> {{unidade.descricao}}</option>
            </select>
            <form (submit)="onUpdate(updateDescricaoUnidadeForm)" #updateDescricaoUnidadeForm="ngForm">
                <div class="form-row">
                    <div class="form-group mt-3">
                        <label for="inputName">Nova unidade</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Unidade" name="nomeUnidadeNova" ngModel>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Update</button>
                </div>
            </form>

        </div>
    </div>
</section>