<!-- Localizacao section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <div class="small mb-1">{{idMarca}}</div>
                <h1 class="display-5 fw-bolder">{{descricao}}</h1>
                <div class="fs-5 mb-5">
                    <button><a href="./marca">Back to Brands</a></button>
                    <button id="updBtn" (click)="showUpdate()">Update</button>
                    <button id="updBtn" (click)="dlMar.onDeleteId(idMarca)">Delete</button>
                </div>
            </div>
        </div>
        <div *ngIf="show">
            <input type="text" placeholder="New brand name:" [(ngModel)]="newBrand" >
            <button (click)="upMar.onUpdateId(idMarca, newBrand)" class="btn btn-primary mt-3">Save</button>
        </div>
    </div>
</section>
