<h3 style="text-align: center; padding: 30px;">Suggested Products</h3>
<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justifycontent-center">
            <div class="col mb-5" *ngFor="let product of productList">
                <div class="card h-100">
                    <img class="card-img-top" src="{{product.productImage}}" alt="..."
                    style="position: relative;width: 150px; height: 150px; left: 15%; top: 5%;"/>
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{product.productName}} - {{product.productPrice}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>