<a class="btn btn-outline-dark mt-auto text-center" style="position: relative; float: right;" href="./backoffice">Back
    to back office</a>
<br>
<div class="row gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justifycontent-center">
    <select (change)="onIndexChange(selectUnidade.value)" class="col mb-5" #selectUnidade
        style="border-radius: 5px; border-color: gainsboro;">
        <option selected disabled>Select a unit</option>
        <option *ngFor="let unidade of unidadeList" value="{{unidade.idDescricaoUnidade}}">{{unidade.descricao}}</option>
    </select>
    <button class="test btn btn btn-outline-danger" style="margin: 2%;" (click)="onDelete()">Delete</button>
</div>